<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Frame By Frame</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <meta name="viewport" content="width=.8, initial-scale=.8, maximum-scale=.8, user-scalable=0">
  </head>
  <body>
    <div id="app">
      <div v-if="screen == 'home'" class="fullscreen column">
        <a href="https://github.com/the42ndturtle/framebyframe" class="topright" target="_blank">source code</a>
        <md-button class="md-accent topleft" @click="createRoom()">CREATE ROOM</md-button>
        <form class="column">
          <h1>Room Code</h1>
          <input class="biginput" v-model="roomCode" maxlength="8" />
          <md-button class="md-raised md-primary" @click="joinRoom">JOIN</md-button>
        </form>
      </div>
      <div v-if="screen == 'name'" class="fullscreen column">
        <h1>Pick A Name</h1>
        <form class="column" @submit.prevent="sendName()">
          <input class="biginput" v-model="name" />
          <md-button class="md-raised md-primary" @click="sendName()">ENTER</md-button>
        </form>
      </div>
      <div v-if="screen == 'lobby'" class="fullscreen column">
        <h1 class="topleft">{{roomCode}}</h1>
        <div class="list row">
          <h1 v-for="player in players" class="name">{{player}}</h1>
        </div>
        <div class="row">
          <h1>Your task is to animate {{prompt}}</h1>
          <md-button v-if="leader" class="md-accent" @click="newPrompt()">RE-ROLL</md-button>
        </div>
        <md-button class="md-raised md-primary" v-if="leader" @click="startGame()">START</md-button>
        <span v-if="leader" class="row">
          <md-switch v-model="leaderIn" name="leader">Leader Plays</md-switch>
          <md-field class="shortInput">
            <label>Rounds</label>
            <md-input v-model="rounds" type="number" class="shortInput"></md-input>
          </md-field>
          <md-field class="shortInput">
            <label>Turn</label>
            <md-input v-model="turn" type="number" class="shortInput"></md-input>
          </md-field>
        </span>
      </div>
      <div v-if="screen == 'observe'" class="fullscreen column">
        <h1 class="topleft">{{drawer}} {{time}}</h1>
        <grid :pixel="doc.clientHeight<doc.clientWidth?doc.clientHeight/60:doc.clientWidth/55"></grid>
      </div>
      <div v-if="screen == 'playing'" class="fullscreen column">
        <h1 class="topleft">{{time}}</h1>
        <grid :pixel="doc.clientHeight<doc.clientWidth?doc.clientHeight/60:doc.clientWidth/55"></grid>
        <div class="row iconRow">
          <i :class="(tool=='pencil'?'selected':'')+' fas fa-pencil-alt icon'" @click="tool = 'pencil'"></i>
          <i :class="(tool=='eraser'?'selected':'')+' fas fa-eraser icon'" @click="tool = 'eraser'"></i>
        </div>
      </div>
      <div v-if="screen == 'end'" class="fullscreen column">
        <span class="md-card-header">{{author}}</span>
        <grid :pixel="doc.clientHeight<doc.clientWidth?doc.clientHeight/55:doc.clientWidth/55"></grid>
      </div>
      <div v-if="false" class="fullscreen column">
        <div id="cornerWrapper" class="wrapper">
          <div class="rowWrapper">
            <div class="corner"></div>
            <div class="corner"></div>
          </div>
          <div class="rowWrapper">
            <div class="corner"></div>
            <div class="corner"></div>
          </div>
        </div>
      </div>
      <md-snackbar :md-duration="Infinity" :md-active.sync="showSnack">
        <span>{{snackMessage}}</span>
        <md-button class="md-accent" @click="showSnack = false">DISMISS</md-button>
      </md-snackbar>
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="script.js"></script>
  </body>
</html>
